<div>
  <nz-table
    *ngIf="config"
    #basicTable
    [nzData]="data"
    [nzScroll]="props.nzScroll"
    [nzLoading]="props.nzLoading"
    [nzPageIndex]="props.nzPageIndex"
    [nzPageSize]="props.nzPageSize"
    [nzTotal]="props.nzTotal"
    [nzFrontPagination]="props.nzFrontPagination"
    [nzShowPagination]="props.nzShowPagination"
    [nzShowSizeChanger]="props.nzShowSizeChanger"
  >
    <thead>
      <tr>
        <th *ngFor="let column of config.columns" [nzWidth]="column.width ? column.width : null">{{column.label}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td *ngFor="let column of config.columns;let i=index;">
          <span *ngIf="!getTdTemplate(i)">{{data[column.key]}}</span>
          <ng-container *ngIf="getTdTemplate(i)">
            <ng-container *ngTemplateOutlet="getTdTemplate(i); context:{data:data,config:column}"></ng-container>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
