<form nz-form [formGroup]="form">
  <ng-container *ngFor="let row of formConfig | layout">
    <div nz-row [nzGutter]="rowGutter">
      <ng-container *ngFor="let controlConfig of row">
        <div nz-col [nzSpan]="controlConfig.span" [nzOffset]="controlConfig.offset">
          <ng-container *ngIf="controlConfig.controlType == 'control'">
            <app-config-form-item [formControlName]="controlConfig.key" [config]="controlConfig"></app-config-form-item>
          </ng-container>
          <ng-container *ngIf="controlConfig.controlType == 'group'">
            <div [formGroupName]='controlConfig.key'>
              <ng-container *ngIf='controlConfig.children'>
                <ng-container *ngFor="let row of controlConfig.children | layout">
                  <div nz-row [nzGutter]="rowGutter">
                    <ng-container *ngFor="let config of row">
                      <div nz-col [nzSpan]="config.span" [nzOffset]="config.offset">
                        <app-config-form-item [formControlName]="config.key" [config]="config"></app-config-form-item>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="controlConfig.controlType == 'array'">
            <div [formArrayName]='controlConfig.key'>
              <ng-container *ngIf='controlConfig.children'>
                <ng-container *ngFor="let row of controlConfig.children | layout">
                  <div nz-row [nzGutter]="rowGutter">
                    <ng-container *ngFor="let config of row">
                      <div nz-col [nzSpan]="config.span" [nzOffset]="config.offset">
                        <app-config-form-item [formControlName]="config.index" [config]="config"></app-config-form-item>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</form>
