<div>
  <app-config-form [formConfig]="formConfig"></app-config-form>
  <button nz-button (click)="showModal()">打开弹窗</button>
  <app-config-table style="width: 200px;" *ngIf="tableConfig" [config]="tableConfig" [data]="tableData" [tdTemplate]="columnTpl"></app-config-table>
  <app-config-modal (onCancel)="onCancel()" (onConfirm)="onConfirm($event)" [customComponent]="customModalComponent">
  </app-config-modal>
  <ng-template #columnTpl let-data='data' let-config="config">
    <span>{{data[config.key]}}自定义模板{{config.key}}</span>
  </ng-template>
</div>
